# 1. Write a python program to convert a string to lowercase

In [11]:
str1 = "cloud computing"

In [6]:
str1 . lower()

'cloud computing'

#  2 . Write a python program to convert only odd indexed characters to lowercase

# Ex: PYTHON
# Output: - PyThOn

In [15]:
str1 = str1.title()
str1

'Cloud Computing'

In [9]:
str1.replace('Cloud Computing','ClOuD CoMpUtInG')

'ClOuD CoMpUtInG'


# 3. Write a python program to convert only even indexed characters to lowercase

Ex: PYTHON
Output: - pYtHoN

In [33]:
str1 = "PYTHON"

In [39]:

    for i in range(len(s)):
        if i % 2 == 0:
            result += s[i].lower()
        else:
            result += s[i]
s = "PYTHON"
result = convert_even_index_to_lowercase(s)
print(result)

pYtHoN

# 4. Write a python program to convert only odd indexed characters to uppercase

Ex: python
Output: pYtHoN

In [ ]:
str1 = "python"

In [15]:
string = "python"
result = ""
for i in range(len(string)):
    if i % 2 == 0:
        print("".join(string[i]),end=" ")
    else:
        print("".join(string[i].upper()),end =" ")

print(result)

p Y t H o N

# 5. Write a python program to convert only even indexed characters to uppercase

Ex: python
Output: - PyThOn

In [47]:
str1 = "python"

In [4]:
str1.title()
str1

'python'

In [48]:
result = ""

for index, character in enumerate(string):
    if index % 2 == 0:
        result += character.upper()
    else:
        result += character

print(result)

PyThOn

# 6. Write a python program where you have different variables which contain your name, gender, age, phone number, father’s name and mother’s name. And by using this variable create a variable named bio-data where you will use all this variable

Ex: print(bio-data)

Output:- My name is …., My age is ….,My phone-no is ….,my father’s name is …,and my mother’s name is…

In [41]:
name = "Rakesh"
age = 23
phone = 8894972345
father = "Srinivas"
mother = "Mamatha"

In [49]:
"my name is"+" "+ name+","+"my age is"+" "+str(age)+","+"my phone no is"+" "+str(phone)+","+"my father's name is"+" "+father+","+"and my mother's name is"+" "+mother+","

"my name is Rakesh,my age is 23,my phone no is 8894972345,my father's name is Srinivas,and my mother's name is Mamatha,"

# 7. Write a python program to count how many times “@” occurred
 Ex: S@ndhy@ 
Output: 2

In [ ]:
--

In [2]:
var = "Sandhya"

In [5]:
var = var.replace("a","@")
print(var)

S@ndhy@

In [7]:
var.count("@")

2


# 8. Write a python program to get only names from the string

Ex: “name1.@gmail.com, name2.@gmail.com, name#3.@gmail.com”
	
Output-name1, name2, name3

In [45]:
s =  "name1.@gmail.com, name2.@gmail.com, name#3.@gmail.com"

In [46]:
 s.split(".@gmail.com")

['name1', ', name2', ', name#3', '']

# 9. Write a program to remove vowels from the entire alphabets

Ex: “abcdefghijklmnopqrstuvwxyz”

Output: “bcdfghjklmnpqrstvwxyz”

In [41]:
R = "abcdefghijklmnopqrstuvwxyz"
R [1:4:1]+ R[5:8:1]+R[9:14:1]+R[15:20:1]+R[21:26:1]

'bcdfghjklmnpqrstvwxyz'

# 10. Find all occurrences of a substring in a given string by ignoring the case

Ex: str1 = "Welcome to Innomatics. innomatics awesome, isn't it?"

Output: innomatics count is: 2

In [38]:
str1 = " Welcome to Innomatics , Innomatics is Awesome isn't it? "

In [39]:
str1.count("Innomatics")

2